
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800 ;
    font-size: 45px;

}
.text-primary{
    color: #FD6E0A;
}
nav ul li{
    list-style: none;
    margin-right: 51px;


}
nav ul a{
     text-decoration: none;
    font-size: 20px;
}
.dark2{
    color: #757575;
}
nav ul{
    display: flex;
    align-items: center;
    
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    padding: 18px 35px;
    border: none;


}
/* banner greetings */
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-description{
    font-size: 18px;
    font-weight: regular;
}
.banner-pro-pic{
    width: 584px;
    height: 676px;
    
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 53px 0px 215px;
    
}
.banner-content{
    max-width: 580px;
}